@import "../../../color.scss";
:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-default;
  flex: 1;
}

ul.establishments__list{
  list-style: none;
  margin-top: calc(80px - 5vh);
  width: min(950px, 720px);

  & li{
    margin: 0 0 1rem 0;
  }

  @media (max-width: 500px){
    width: 80%;
  }
}

.establishments__list__item{
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 1rem;
  max-height: 90px;

  cursor: pointer;

  border-radius: 5px;
  background-color: $background-white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

  &:hover{
    background-color:$background-white--hover;
    box-shadow: 0 1px 1px rgb(0, 0, 0);
  }

  &:active{
    background-color:$background-white--hover;
    box-shadow: 4px 3px 1px rgba(0, 0, 0, 0.5);
  }

  &.establishment .establishment__image{
    order: 1;

    &, img{
      min-width: 74px;
      min-height: 74px;
      border-radius: 3px;
    }
  }

  &.establishment .establishment__information{
    order: 2;
    margin-left: 1rem;

    & .data{
      &.identifier{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-bottom: .6rem;
        & .identifier__name{
          order:1;
          font-weight: bold;
          font-size: 18px;
        }

        & .identifier__number{
          order: 2;
          color: $font-color--gray;
          font-weight: bold;
          margin-left: .3rem;
          font-size: 14px;
        }
      }

      &.address{
        display: flex;
        font-style: normal;
        flex-direction: row;
        justify-content: space-between;
        color: $font-color--gray;

        & > .address__street{

          &::before{
            content: "";
            display: inline-block;
            position: relative;
            align-items: center;
            width: 1px;
            height: 9px;
            left: 0;
            background-color: $background-gray;
            margin: 0 6px 0 6px;

            @media (max-width: 500px){
              display: none;
            }
          }
        }

        @media (max-width: 500px){
          flex-wrap: wrap;
        }
      }
    }
  }
}
