<div class="container">
  <form [formGroup]="establishmentForm" (ngSubmit)="onSubmit(establishmentForm.value)" class="form">
    <section class="form__introduction intro">
      <!-- Header com imagem, nome, id -->
      <div class="intro__button">
        <button type="button" (click)="onBack()" class="form__button form__button--back">
          <fa-icon [icon]="iconArrowLeft"></fa-icon>
        </button>
      </div>
      <div class="intro__image">
        <img [src]="establishment.picture" alt="logo">
      </div>
      <div class="intro__apresentation">
        <span class="intro__apresentation__name">{{establishment.name}}</span>
        <span class="intro__apresentation__id">ID: {{establishment.index}}</span>
      </div>
    </section>

    <section class="form__information">
      <h3>Informações Básicas</h3>

      <div class="form__inputs">

        <div class="form__input--vertical">
          <label for="name">
            <span>Nome</span>
          </label>
          <div class="input">
            <input type="text" id="name" name="name"  formControlName="name">
          </div>

        </div>

        <div class="form__input--vertical">
          <label for="city">
            <span>Cidade</span>
          </label>
          <div class="input">
            <input type="text" id="city" name="city"  formControlName="city">
          </div>

        </div>

        <div class="form__input--vertical">
          <label for="address">
            <span>Endereço</span>
          </label>
          <div class="input">
            <input type="text" id="address" name="address" formControlName="address">
          </div>

        </div>
      </div>
    </section>

    <section class="form__financial">
      <h3>Financeiro</h3>

      <div class="form__inputs">
        <div class="form__input--vertical">
          <label for="bank">
            <span>Banco</span>
          </label>
          <div class="input">
            <input type="text" id="bank" name="bank" formControlName="bank">
          </div>

        </div>

        <div class="form__input--vertical">
          <label for="account-type">
            <span>Tipo de Conta</span>
          </label>
          <div class="input">
            <select name="account-type" formControlName="account_type">
              <option value="cc">Conta Corrente</option>
              <option value="cp" selected>Conta Poupança</option>
            </select>
          </div>

        </div>

        <div class="form__input--vertical">
          <label for="identification-document">
            <span>CPF /  CNPJ</span>
          </label>
          <div class="input">
            <input type="number" id="identification-document" name="identification-document" formControlName="identification_document">
          </div>
        </div>

        <div class="form__input--vertical">
          <label for="agency">
            <span>Agência</span>
          </label>
          <div class="input">
            <input class="input--w-7" type="number" id="agency" name="agency" formControlName="agency">
            <input class="input--w-2" type="number" id="agency-d" name="agency-d" formControlName="agency_d">
          </div>

        </div>

        <div class="form__input--vertical">
          <label for="account">
            <span>Conta</span>
          </label>
          <div class="input">
            <input class="input--w-7" type="number" id="account" name="account" formControlName="account">
            <input class="input--w-2" type="number" id="account-d" name="account-d" formControlName="account_d">
          </div>
        </div>

        <div class="form__input--vertical">
          <label for="bank-draft">
            <span>Saque automatico?</span>
          </label>
          <div class="input">
            <select name="bank-draft" formControlName="bank_draft">
              <option value="yes" selected>Sim</option>
              <option value="no" >não</option>
            </select>
          </div>
        </div>
      </div>

    </section>

    <section class="form__actions">
      <button class="form__button form__button--submit" type="submit">Salvar</button>
    </section>
  </form>
</div>
