$font-color--gray:  #81879C;
$font-color--dark-gray: #4C5164;

$background-default: #E5E5E5;
$background-white: #ffffff;
$background-gray: #81879C;
$background-white--hover: #f1f1f1;

$button-green: #28CC9B;
$button-green--hover: #1fa97f;

$input-background-white: #E6E8EF;
$input-outline-white--darkness: #dbdcdf;
