@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "./color.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body{
  display: flex;
  flex-direction: column;
}

main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-default;
}

.container{
  display: flex;
  width: 950px;
  flex-direction: column;
  margin-top: calc(80px - 5vh);
}
