@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import "./color.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 14px;
}

html, body, #ng-element{
  max-height: 100vh;
  max-width: 100vw;
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-default;
}

.container{
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content:center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
